* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-div {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.colorBox {
  min-height: 120px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.parent-color-holder {
  display: flex;
  flex-wrap: wrap;
  margin-left: 90px;
}
.colorBox {
  display: flex;
}
.innerDiv {
  width: 120px;
  height: 50px;
  margin-right: 10px;
  position: relative;
  margin-bottom: 10px;
}
.number-holder {
  background-color: white;
  display: flex;
  justify-content: ;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}
.number {
  font-size: 13px;
  font-weight: bold;
  margin-right: 30%;
}
.color-name {
  width: 120px;
  text-align: center;
  padding: 10px 0;
}
.small-name {
  font-size: 10px;
}
.text {
  text-align: right;
  width: 57px;
}
